<p>This site is an eclectic set of (somewhat) famous quotes. Todays quote of the day is as follows:</p>
<p>&nbsp;</p>

<h1> <%= @quote.body %> </h1>
<br><h2><%= @quote.source %></h2>
<p>&nbsp;</p>
<%= link_to 'Add a new quote to our list', new_quote_path %> 